@import "./variables";

//$heading-font-family: 'Nunito', sans-serif;
//$body-font-family: 'Nunito', sans-serif;

$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Montserrat', sans-serif;

$primary-color: $color-primary;
$secondary-color: $color-secondary ;
//$success-color: #4caf50 !default;
//$info-color: #00bcd4 !default;
//$warning-color: #fb8c00 !default;
//$error-color: #f44336 !default;
